fieldset {
  & input, textarea {
    border-radius: 8px;
    border: solid 1px var(--input-stroke);
    background-color: var(--input-base);
    
    font: var(--body-md);
    color: var(--input-placeholder);
  }

  & input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
  }

  textarea {
    padding-inline: 1rem 16rem;
    padding-block: 1rem 6.125rem;

    width: 100%;
  }
}

legend {
  margin-left: 0.75rem;

  font: var(--heading-sm);
  color: var(--text-heading);
}

svg {
  max-width: 1.5rem;
  fill: var(--input-placeholder);
}