fieldset {
  & input, textarea {
    border-radius: 8px;
    border: solid 1px var(--input-stroke);
    background-color: var(--input-base);
    
    font: var(--body-md);
    color: var(--input-placeholder);
  }

  & input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
  }

  textarea {
    padding-inline: 1rem 16rem;
    padding-block: 1rem 6.125rem;

    width: 100%;
  }
}

legend {
  margin-left: 0.75rem;

  font: var(--heading-sm);
  color: var(--text-heading);
}

svg {
  max-width: 1.5rem;
  fill: var(--input-placeholder);
}

#selector {
  font: var(--body-xs);
  
  & svg {
    max-width: 1rem;
  }

  & div {
    border: solid 1px red;
    border-radius: 0.5rem;

    padding: 0.25rem;
    gap: 0.25rem;

    display: flex;
    align-items: center;

    & div {
      border: solid 1px blue;
      border-radius: 0.25rem;
    }
  }
}