.button-wrapper {
  display: flex;
  justify-content: flex-end;
  
  div {
    margin-top: 3rem;
    max-height: 3rem;

    display: flex;
    padding-inline: 20px;
    padding-block: 13px;
    background-color: var(--brand-dark);
    border-radius: 8px;

    font: var(--body-md);
    color: var(--text-heading);

    align-items: center;

    cursor: pointer;

    label {
      cursor: pointer;
    }

    & input {
      all: unset;
      inset: 0;
    }

    svg {
      fill: var(--text-heading);
      margin-right: 12px;
    }

    &:hover {
      background-color: var(--brand-mid);
      transition: .5s;
    }
  }  
}