.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  position: relative;

  div {
    img {
      width: 126px;
      height: 64px;

      border-radius: 4px;
    } 
  }
}

.checkbox-color {
  background-color: var(--shape-button);
  margin-top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 62.43rem;

  div {
    width: 28px;
    height: 28px;
    border-radius: 62.43rem;
    align-self: center;
    margin: auto;

    &.checkbox-brand-light {
      background-color: var(--brand-light);
    }

    &.checkbox-navy {
      background-color: var(--navy);
    }
  
    &.checkbox-purple {
      background-color: var(--purple);
    }
  
    &.checkbox-fuschia {
      background-color: var(--fuschia);
    }
  
    &.checkbox-pink {
      background-color: var(--pink);
    }
  
    &.checkbox-danger {
      background-color: var(--danger);
    }
  
    &.checkbox-orange {
      background-color: var(--orange);
    }
  
    &.checkbox-yellow {
      background-color: var(--yellow);
    }
  
    &.checkbox-lime {
      background-color: var(--lime);
    }
  
    &.checkbox-green {
      background-color: var(--green);
    }
  
    &.checkbox-cyan {
      background-color: var(--cyan);
    }
  }

  &:hover, &:focus-within {
    background-color: var(--shape-hover);
  }
  
  &:has(:checked) {
    border: solid 2px var(--brand-light);
  }
}

.checkbox-themes {
  border: solid 1px var(--input-stroke);
  background-color: var(--shape-button);
  border-radius: 8px;

  display: grid;
  position: relative;
  justify-items: center;

  padding-inline: 4px;
  padding-top: 4px;

  label {
    margin-block: 8px;
  }

  & input, & input:focus, & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
  
  &:hover, &:focus-within {
    background-color: var(--shape-hover);
  }

  &:has(:checked) {
    outline: solid 2px var(--brand-light);
  }
}