#abbout {
  input {
    width: 100%;
  }
}

input {
  padding: 13px;
  /* width: 100%; */
}

input, textarea, select {
  appearance: none;
  /* width: 100%; */
}
  
input[type="datetime-local"] {
  position: relative;
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input[type="checkbox"] {
  /* opacity: 0; */
}