.size-100{
  input {
    width: 100%;
  }
}

input {
  padding: .8125rem;
}

input, textarea, select {
  appearance: none;
  
  &:focus {
      outline: solid 1px var(--brand-light);
    }
}
  
input[type="datetime-local"] {
  position: relative;
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input[type="checkbox"], input[type="button"], input[type="radio"] {
  opacity: 0;
}

input[type="file"] {
  all: unset;
}

textarea {
  resize: none;
}