.size-100{
  input {
    width: 100%;
  }
}

input {
  padding: .8125rem;
  /* width: 100%; */
}

input, textarea, select {
  appearance: none;
  /* width: 100%; */
}
  
input[type="datetime-local"] {
  position: relative;
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input[type="checkbox"], input[type="button"], input[type="radio"] {
  opacity: 0;
}

/* input[type="file"] {
  opacity: 0;
} */

input[type="file"] {
  all: unset;
}