@import url(fields/index.css);

fieldset {
  border: none;
  display: grid;
  margin-bottom: 3rem;
}

form {
  width: 35rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}