#invite {
  display: grid;
  grid-template-columns: 25rem 51.25rem;

  max-width: 80rem;
  gap: 1.25rem;

  overflow: hidden;
  margin-block: 1.25rem;
  margin-inline: auto;

  .title {
    font: var(--body-sm);
    color: var(--text-body);
  
    display: block;
    margin-bottom: 0.75rem;

    a {
      color: var(--brand-light);
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

aside {
  size: 400px 728px;
  /* height: 900px; */
  & .aside-container {
    margin: 2rem;
  }

  #bg-img {
    overflow: hidden;
    /* height: 45.5rem; */
    height: 57.5rem;

    background-image: url(../assets/img/Background.png);
    background-size: cover;
    background-position: center;

  
    p {
      font: var(--body-md);
      color: var(--text-body)
    }
  }
}

main {
  overflow: auto;
  /* size: 820px 1981px; */
  /* height: 94vh; */
  /* height: 100vh; */
  width: 820px;
  height: 57.5rem;
  
  .main-container {
    /* overflow: auto; */
    /* height: 100vh; */
    /* width: 820px; */
    /* height: 56.25rem; */
  }
  
  #form {
    background-color: var(--shape-body);
    padding-block: 5rem;
    padding-inline: 8.125rem;

    & h2 {
      margin-bottom: 2.5rem;
    }

    .section {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }
  
    .fields {
      & div {
        display: flex;
        gap: 0.75rem;
      }
    }

    #abbout {
      .size-100 {
        margin-bottom: 1.5rem;
      }
    }

    #contact {
      .size-100 {
        margin-bottom: 1.5rem;
      }
    }
  }
  

  #personalization {
    font: var(--body-sm);
    color: var(--text-heading);

    #color {
      margin-bottom: 1.75rem;
    }

    #style-and-img {
      display: flex;
      gap: 1rem;
      margin-top: 1.75rem;

      #slide-wrapper {
        display: flex;
      }

      #img-upld {
        height: 79px;
      }

      #style {
        height: 79px;
      }
    }
  }
}

#line-separation {
  /* margin-block: 24px; */
  margin-block: 48px 40px;

  border: solid 1px var(--input-stroke);
}